@(loginForm: Form[Login])

@main("Admin Panel Login"){
	<div>
		<div class="panel panel-default">
		  <div class="panel-body">
			<div class="navbar-form">
				<h2><span class="label label-danger">Admin Panel</span></h2>
			</div>

					@helper.form(routes.Application.authenticateAdmin) {
						<input type="text" class="form-control" placeholder="Benutzer" name="Username" id="Username" value="@loginForm("username").value" />
						<input type="text" class="form-control" placeholder="Passwort" name="Password" id="Password" />
						<button type="submit" class="btn btn-primary">Anmelden</button>
					}
							
			@if(loginForm.hasGlobalErrors) {
		    <p style="color:red"> @loginForm.globalError.message</p>
			}
			        
		</div>
	</div>
}