@(users: List[User])
@main("Benutzer verwalten"){

@aphead("Inan", "Ödunc")
	<div class="row">	
	
@apleftcategory()	
		<div class="span8">
			<div class="navbar-left container">
			
				<!-- Panel -->
				<div class="panel panel-default">
					<div class="panel-body">							
						<!-- Progressbar -->
						<p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;>
									<span class="sr-only">60% abgeschlossen</span>
								</div>
							</div>
						</p>
						<!-- Progressbar -->
							
						<!-- Table -->
						<div class="panel panel-info">
							<div class="panel-heading">Verfügbare Benutzer</div>
								<div class="panel-body">								
									<table class="table">
										<thead>
											<tr>
												<th> Id </th>
												<th> Benutzername </th>
												<th> Vorname </th>
												<th> Nachname </th>
												<th> Mail </th>
											</tr>
										</thead>
										<tbody>
											@for(user <- users){
												<tr>
													<td>@user.Id</td>
													<td>@user.Username</td>
													<td>@user.Firstname</td>
													<td>@user.Lastname</td>
													<td>@user.Mail</td>
													<td>
														<input type="checkbox">
													</td>
												</tr>
											}
										</tbody>
									</table>				
								</div>
							</div>
							<!-- Table -->
							
							<!-- Delete -->
							<form class="navbar-form navbar-right" role="search">
									<button type="button" class="btn btn-primary">Ausgewählte löschen</button>
							</form>
							<!-- Delete -->
					</div>
				</div>
				<!-- Panel -->
				
			</div>
		</div>		
	</div>
}
