@(country: String, artists: List[Artist], topSongsList: List[Song])

@main("Startseite"){

@headlogin()

<div class="container-fluid">
<div class="row">

@leftCategory(artists)
	<div class="col-md-8">
		<div class="navbar-left">

				<!-- panel -->
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="container">
							
							<!-- tabs -->
							<ul class="nav nav-tabs" role="tablist">
							
							@if(country == "eu"){
								<li role="presentation" class="active"><a href="@routes.Application.showTopTen("eu")">TOP 10 Europe</a></li>
								<li role="presentation"><a href="@routes.Application.showTopTen("usa")">TOP 10 USA</a></li>
								<li role="presentation"><a href="@routes.Application.showTopTen("uk")">TOP 10 UK</a></li>
							}
							
							@if(country == "usa"){
								<li role="presentation"><a href="@routes.Application.showTopTen("eu")">TOP 10 Europe</a></li>
								<li role="presentation" class="active"><a href="@routes.Application.showTopTen("usa")">TOP 10 USA</a></li>
								<li role="presentation"><a href="@routes.Application.showTopTen("uk")">TOP 10 UK</a></li>
							}
							
							@if(country == "uk"){
								<li role="presentation"><a href="@routes.Application.showTopTen("eu")">TOP 10 Europe</a></li>
								<li role="presentation"><a href="@routes.Application.showTopTen("usa")">TOP 10 USA</a></li>
								<li role="presentation" class="active"><a href="@routes.Application.showTopTen("uk")">TOP 10 UK</a></li>
							}
							
							</ul>
							<!-- tabs -->
							
							<!-- table -->
							<table class="table table-striped">
								<thead>
									<tr>
										<th> Pos </th>
										<th> Künstler </th>
										<th> Songtitel </th>
										<th> </th>
									</tr>
								</thead>
								<tbody>
									
									@if(topSongsList.size() <= 0){
										<tr>
											<td>Es sind keine Songs vorhanden!</td>
										</tr>
									}else{
										@for(topSong <- topSongsList){
											<tr>
												<td>@topSong.getRank()</td>
												<td>@topSong.getArtist().getAlias()</td>
												<td>@topSong.getTitel()</td>
												
												@defining("music/") { path =>												
												<td><button type="button" class="btn btn-primary" onclick="playMusic('@routes.Assets.at(path + topSong.getFileName())', '@topSong.getTitel()');"> Play </button>	</td>
												 }
											</tr>
										}
									}
								</tbody>
							</table>
							<!-- table -->
							
						</div>
					</div>
				</div>
				<!-- panel -->

		</div>
	</div>
	
	
</div>
</div>
	
	@footerPlayer()	
}