@(musicTypes: List[MusicType], artists: List[Artist])

<div class="col-md-2">
		<nav class="navbar navbar-default" role="navigation">			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Kategorien</h3>
				</div>
				<div class="panel-body">											
					<div class="list-group">
						@if(artists.size() <= 0 && musicTypes.size() <= 0){
								<a href="#" class="list-group-item">Keine Kategorien vorhanden</a>
							}else{
								@if(artists.size() > 0){
								<a href="#" class="list-group-item active"> Artist </a>								
									@for(artist <- artists){				
									<a href="#" class="list-group-item">@artist.Alias</a>
									}
								}
													
								@if(musicTypes.size() > 0){
									<a href="#" class="list-group-item active"> Musikart </a>									
									@for(musicType <- musicTypes){
										<a href="#" class="list-group-item">@musicType.Type</a>
									}
								}
							}
					</div>
				</div>
			</div>
		</nav>	
</div>