
@main("SignIn"){
	<div>
	
		<!-- header -->
		<div class="panel panel-default">
		  <div class="panel-body">			
			<div class="navbar-form">
				<h2><span class="label label-primary">Sign Up</span></h2>
			</div>				
		  </div>
		</div>
		<!-- header -->
		
		<!-- Formular -->
		<div class="panel panel-default">
			<div class="panel-body">		
				<div class="panel panel-success">
					<div class="panel-heading">Bitte geben Sie folgenden Daten ein:</div>
					<div class="panel-body">
						<div class="input-group">
							<span class="input-group-addon">Vorname:</span>
							<input type="text" class="form-control">
							<span class="input-group-addon">Nachname:</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">E-Mail:</span>
							<input type="text" class="form-control">
							<span class="input-group-addon">Telefon:</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">PLZ:</span>
							<input type="text" class="form-control">
							<span class="input-group-addon">Wohnort:</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">Straße:</span>
							<input type="text" class="form-control">
							<span class="input-group-addon">Straßennummer:</span>
							<input type="text" class="form-control">
						</div>
						<div class="input-group">
							<span class="input-group-addon">Passwort:</span>
							<input type="text" class="form-control">
							<span class="input-group-addon">Passwort wiederholen:</span>
							<input type="text" class="form-control">
						</div>
					</div>
				</div>
				
				<form class="navbar-form navbar-right" role="search">
					<button type="submit" class="btn btn-success">Registrieren</button>
				</form>
			</div>
				
		</div>
			<!-- Formular -->			
	</div>
}